<div style="color:white">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #563D7C;">
  <!--<a class="navbar-brand " href="#">SIFT Market</a>
  -->
  <a class="navbar-item">
    <img src="assets/img/sift-image.PNG" alt="SIFT Market" style="width:55px;height:45px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link " routerLink="/home" routerLinkActive="active-route">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/recommendation" routerLinkActive="active-route">Recommendation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/market" routerLinkActive="active-route">Market News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/subscribe" routerLinkActive="active-route">Subscribe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/about" routerLinkActive="active-route">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/contact" routerLinkActive="active-route">Contact Us</a>
      </li>
    </ul>
    
    <span class="navbar-text">
      For a better future
    </span>
  </div>
</nav>
</div>