<div class ="container">
<BR>
<p>
<B><I>SIFT is an attempt to-</I></B> <BR>
Use advanced machine learning to aggregate market news and data from multiple sources including social media. Scrub content from multiple sources and provide customized news stream and data insights to users depending on their profile and portfolio.
</p>

<P>
  We use sophisticated and advanced machine learning algorithm to come up with recommendation engine.
</P>

<img src="assets/img/About.PNG" alt="SIFT Market" style="width:600px;height:600px;">

</div>