<div align="center">
    <br>
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header" style="background-color: #563D7C;color:white ">Sumit Pal</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Financial Market Expert</h5>
      <p class="card-text">Graduate from ISM Dhanbad and having experience of more than 14 years in multiple financial companies.</p>
    </div>
  </div>
  
  <br>
  
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header" style="background-color: #563D7C;color:white ">Amit Kumar Singh</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Technical Expert</h5>
      <p class="card-text">Graduate from NIT Allahabad and having experience of more than 14 years in various technology fields</p>
    </div>
  </div>
  </div>