#headerText {
    width: 100%;
    height: 50px;
    background-color: red;
    animation: example infinite;
    animation-duration: 3s;
    text-align:center;
    
  }
  #headerText h1{
    font-size:2.3rem;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }
  
  /* Standard syntax */
  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }
  