<div class="container">
  <br>

<div id="headerText"><h1>FM Announcement - Income Tax Slab Changed for 2020-2021</h1></div>
<p> More details to follow..</p>

<div>
  <h2><I>Finance quote of the day</I></h2>
  <p>Finance, like time, devours its own children.</p>
  <p ><I><B>-Honore de Balzac</B></I></p>

</div>

<P>Key financial terms which every investor must know</P>
<HR>

  <ul>
<li>Buy – Means to buys shares or take position in a company.</li>
<li>Sell – Getting rid of the shares as you have achieved your goal or want to cut down losses.</li>
<li>Ask – Ask is what people who are looking to sell their stocks are looking to get for their shares.</li>
<li>Bid – Bid is what you are willing to pay for a stock.</li>
<li>Ask-Bid Spread– Spread is the difference between what people want to spend and what people want to get.</li>
<li>Bull – A bull market is a market condition where investors are expecting prices to rise.</li>
<li>Bear – A bear market is a market condition where investors are expecting prices to fall.</li>
<li>Limit Order – A limit order is a type of order which executes at the price placed for buy or sell.</li>
<li>Market Order – A market order is a type of order which executes as quickly as possible at the market price.</li>
<li>Day Order – A day order is a direction to a broker to execute a trade at a specific price that expires at the end of the trading day if it is not complicated.</li>
<li>Volatility – Means how fast a stock moves up or down.</li>
<li>Going Long – Betting on the stock price will increase so that you can buy low and sell high.</li>
<li>Averaging Down – This is when an investor buys as the stock goes down so as to increase the price at which purchased.</li>
<li>Capitalization – This is what the market thinks a company’s value is.</li>
<li>Float – This is the number of shares which can be actually traded after deducting the shares held by insiders.</li>
<li>Authorized Shares – This is the total number of shares that a company can trade.</li>
<li>IPO – It is an Initial Public Offering that happens when the private company becomes a publicly traded company.</li>
<li>Secondary Offering – This is another offering in order to sell more stocks and to raise more money form the public.</li>
<li>Dividend – Portion of the company’s earning which is paid to the shareholders.</li>
<li>Broker – A broker is a person who buy or sell stocks on your behalf.</li>
<li>Exchange – An exchange is a place where different types of investment are traded.</li>
<li>Portfolio – A collection of investments owned by you.</li>
<li>Margin – Margin account lets a person to borrow money from the broker to buy shares.</li>
<li>Sector – A group of stocks in the same sector.</li>
<li>Stock Symbol – A one to three character alphabet root symbol which represents a company listed on the exchange.</li>

</ul>



</div>